body{
    background-color: lightcoral;
    font-family: "URW Gothic";
}
h2{
    color: aqua;
    text-align: center;
}
form{
    background-color: bisque;
    border: 1px solid orangered;
    width:500px;
    border-radius: 5px;
    margin:50px auto;
    padding: 20px;
}
label{
    font-weight: bold;
    display:block;
    margin-bottom: 5px;
}
input{
    border: 1px solid lightcyan;
    border-radius: 3px;
    padding:5px;
    width:100%;
}
button{
    background-color: cyan;
    width:100%;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    color:orangered;
    font-size: 16px;
    padding :10px;
}